@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  outline: none !important;
  border: none !important;
}

body {
  width: 100%;
  font-weight: 400;
  background: #080807;
  color: #fff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fbbb32;
}

.delaGothic700 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 700;
}

.delaGothic400 {
  font-family: 'Dela Gothic One', sans-serif;
  font-weight: 400;
}

p {
  margin-bottom: 0 !important;
}

.fourQuarterCir {
  position: absolute;
  right: -11.25rem;
  top: -6rem;
  width: 342px;
}

.bgPrimary {
  background: #fbbb32;
}

.whyWaxx {
  position: relative;
  width: 100%;
  height: 100%;
}

.whyWaxx::before {
  position: absolute;
  content: '';
  top: -4.5rem;
  width: 100%;
  height: 200px;
  background-image: url('/assets/images/Patternwaveup.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
}

.borderB2 {
  position: relative;
}

.borderB2::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 4px;
  border-bottom: 2px solid #080807 !important;
  bottom: -10px;
}

.waxxProduct {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.waxxProduct::before {
  position: absolute;
  content: '';
  width: 4.5rem;
  height: 4.5rem;
  opacity: 1;
  right: 1.5rem;
  top: 1.5rem;
  background-image: url('/assets/images/dynStar.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: ease-in-out 0.25s;
}

.waxxProduct:hover:before {
  opacity: 0;
}

.featuredProdImg {
  display: block;
}

.prodDescOverlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background-color: rgba(25, 25, 26, 0.9);
}

.waxxProduct:hover .prodDescOverlay {
  opacity: 1;
}

.prodsContent {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 23%;
  left: 38%;
  transform: translate(-35%, 0%);
  -ms-transform: translate(-35%, 0%);
}

.featuredProds {
  position: relative;
}

.featuredProds::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url('/assets/images/Patternwavedown.png');
  background-position: center;
  background-repeat: no-repeat;
  bottom: -55%;
  left: 0;
  z-index: 2;
}

.stari {
  position: relative;
  z-index: 1;
}

.stari::before {
  position: absolute;
  width: 100%;
  height: 80%;
  content: '';
  background-image: url('/assets/images/star5.svg');
  background-position: center -10px;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.comEventSec {
  position: relative;
  z-index: 3;
}

.comEventSec::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 150px;
  background-image: url('/assets/images/Patternwavedown.png');
  background-position: center;
  background-repeat: no-repeat;
  bottom: -20%;
  left: 0;
  z-index: 2;
}

.contactWaxx {
  position: relative;
  z-index: 3;
}

.contactWaxx::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 150px;
  background-image: url('/assets/images/Patternwavedown.png');
  background-position: center;
  background-repeat: no-repeat;
  bottom: -20%;
  left: 0;
  z-index: 2;
}

.newsLetSec {
  position: relative;
  z-index: 3;
}

.newsLetSec::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 150px;
  background-image: url('/assets/images/Patternwavedown.png');
  background-position: center;
  background-repeat: no-repeat;
  bottom: -6rem;
  left: 0;
  z-index: 2;
}

.relatedProds {
  position: relative;
  z-index: 3;
}

.relatedProds::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 150px;
  background-image: url('/assets/images/Patternwaveup.png');
  background-position: center;
  background-repeat: no-repeat;
  top: -6rem;
  left: 0;
  z-index: 2;
}

.relatedProds::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 150px;
  background-image: url('/assets/images/Patternwavedown.png');
  background-position: center;
  background-repeat: no-repeat;
  bottom: -8.5rem;
  left: 0;
  z-index: 2;
}

.borderRounded1 {
  border: 1px solid #fff !important;
  border-radius: 100%;
}

.postContent {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.smPostImg {
  display: block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: rgba(25, 25, 26, 0.9);
  border-radius: 10px;
}

.postContent:hover .overlay {
  opacity: 1;
}

.postActivism {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.postActivism img {
  width: 25px;
}

.postActivism p {
  font-size: 1rem;
  line-height: 1;
}

.postActivism span {
  margin-left: 5px;
  font-size: 1rem;
  line-height: 1;
}

/* Faq Sect start */

.accordion .accordion-item {
  border-bottom: 1px solid #fff !important;
  background: transparent !important;
}

.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #fff;
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #fff;
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}

.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #fff;
}

.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
  color: #fff;
  letter-spacing: 3px;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded='true'] {
  color: #fff;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 10em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 1em 0;
}

.accordion .accordion-content img {
  width: 120px;
  margin: 1em 0;
}

/* Faq Sect end */

.formFields input,
.formFields textarea {
  background: #fddd98 !important;
}

.newsLetInp input {
  background: #fddd98 !important;
}
.verifyInp input {
  background: #ffefcd !important;
}

.border2 {
  border: 2px solid #fddd98 !important;
}

.borderWhite {
  border: 2px solid #fff !important;
}
.borderBlack {
  border: 2px solid #080807 !important;
}

.verificationHero {
  position: relative;
}

.verifyPatternLeft {
  position: absolute;
  width: 250px;
}

.verifyPatternLeft img {
  height: 400px;
}

.verifyPatternRight {
  position: absolute;
  right: -7rem;
  top: -13rem;
}

.verifyPatternRight img {
  height: 400px;
  width: 100%;
}

/* Mobile Responsiveness */

@media screen and (max-width: 575px) {
  .verifyPatternRight,
  .verifyPatternLeft {
    display: none;
  }

  .textCent {
    text-align: center !important;
  }

  .minusT5 {
    position: relative;
    top: -5.75rem !important;
  }

  .marginTop1 {
    margin-top: 1rem;
  }
  .marginTop2 {
    margin-top: 2rem;
  }

  .marginTop9 {
    margin-top: 9rem !important;
  }

  .marginBot10 {
    margin-bottom: 10rem !important;
  }

  .marginleft1 {
    margin-left: 1.5rem;
  }

  .marginY1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .marginBot1 {
    margin-bottom: 1rem;
  }

  .whyWaxx::before {
    height: 150px;
    top: -2.5rem;
  }
  .comEventSec::before {
    bottom: -15%;
  }
  .contactWaxx::before {
    bottom: -12%;
  }
  .newsLetSec::before {
    bottom: -9rem;
  }
  .relatedProds::before {
    top: -7rem;
  }
}
